<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>896625870592-gadncap8ocgem70hkjabmulouj9lrtti.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.896625870592-gadncap8ocgem70hkjabmulouj9lrtti</string>
	<key>API_KEY</key>
	<string>AIzaSyBZf3sRmzp9SxDSS2css9c1pZ3uXDEG7Ag</string>
	<key>GCM_SENDER_ID</key>
	<string>896625870592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>OpenHardwareMonClient</string>
	<key>PROJECT_ID</key>
	<string>openhardwaremonclient</string>
	<key>STORAGE_BUCKET</key>
	<string>openhardwaremonclient.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:896625870592:ios:06a80aafde8212c00015e5</string>
</dict>
</plist>